<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<bean id="rhozetCreator" class="org.entermedia.rhozet.creator.RhozetVideoCreator">
		<property name="pageManager">
			<ref bean="pageManager" />
		</property>
		<property name="exec">
			<ref bean="exec" />
		</property>
	</bean>
	
	
	
</beans>
